.pop-up-interface {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;

    height: max-content;
    width: max-content;

    max-width: 950px;
    max-height: 250px;

    &.show-pop-up-interface {
        transform: translate(-50%, 0);
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }
    &.hide-pop-up-interface {
        transform: translate(-50%, 100%);
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }
}

.castle-UI, 
.enemy-castle-UI, 
.unit-UI, 
.enemy-unit-UI, 
.army-UI, 
.enemy-army-UI, 
.village-UI {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}
.village-UI {
    justify-content: center;
}
