$icon-inside-color: white;
$icon-inside-active-color: #090913;

$icon-border-color: #C17400;
$icon-background-color: #361b1b;
$button-back-color: #4f0568;
$button-border-color: #f83c68;
$icon-background-darker-color: #63271A;
$icon-background-darker-color-active: #3f0000c5;

$jewerly-border-color: #FFB546;
$jewerly-color: #1FFFF1;
$jewerly-active-color: #EB72FF;
$jewerly-background-color: #00C4B8;
$jewerly-background-active-color: #CA3DBC;