$icon-inside-color: white;
$icon-inside-active-color: #121227;

$icon-border-color: #C17400;
$icon-background-color: #361b1b;
$button-back-color: #4f0568;
$button-border-color: #f83c68;
$icon-background-darker-color: #63271A;
$icon-background-darker-color-active: #3f0000c5;

$jewerly-border-color: #FFB546;
$jewerly-color: #1FFFF1;
$jewerly-active-color: #EB72FF;
$jewerly-background-color: #00C4B8;
$jewerly-background-active-color: #CA3DBC;

$window-text-color: #a19466;
$window-text-color-2: #7d583d;
$window-border-color: #836808;
$window-border-color-2: #5e3c23;
$window-background-color: #644229;
$window-button-text-color: #c4bcbc;
$window-button-border-color: #927e3b;
$window-button-background-color: #6d4e37;
$window-button-background-color-hover: #a5351d;
$window-button-background-color-active: #a8422e;