.game {
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

#game {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.game-container {
    position: relative;
    top: 0;
    left: 0;
}

.mini-map-window {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    box-sizing: border-box;

    z-index: 2;

    background: #361b1b77;
}

.castle-manage-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 51px;
    height: 51px;

    border: none;

    background: none;
    user-select: none;
    outline: none;
    padding: 0;

    z-index: 2;
}

.castle-interface {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 950px;
    height: 250px;
    
    z-index: 2;

    &.show-castle-UI {
        transform: translate(-50%, 0);
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }
    &.hide-castle-UI {
        transform: translate(-50%, 100%);
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
    }
}