$icon-inside-color: white;
$icon-inside-active-color: #121227;

$icon-border-color: #C17400;
$icon-background-color: #361b1b;
$button-back-color: #4f0568;
$button-border-color: #f83c68;
$icon-background-darker-color: #63271A;
$icon-background-darker-color-active: #3f0000c5;

$jewerly-border-color: #FFB546;
$jewerly-color: #1FFFF1;
$jewerly-active-color: #EB72FF;
$jewerly-background-color: #00C4B8;
$jewerly-background-active-color: #CA3DBC;

$window-text-color: #c4bcbc;
$window-border-color: $icon-background-color;
$window-background-color: #3a1f1ff0;
$window-button-text-color: #c4bcbc;
$window-button-border-color: $icon-border-color;
$window-button-background-color: $icon-background-color;
$window-button-background-color-hover: $icon-background-darker-color;
$window-button-background-color-active: $icon-background-darker-color-active;