@import '../../gameConst.scss';

.avail-users-box {
    position: absolute;
    bottom: 23px;
    left: 0;

    margin: 0;
    padding: 0;
    border: 2px solid $icon-border-color;
    border-bottom: 0;

    width: 120px;
    max-width: 120px;
    max-height: 200px;

    background-color: $icon-background-darker-color-active;

    overflow-y: auto;
    list-style-type: none;

    & li:hover {
        color: $jewerly-border-color;
        border-right: 1px solid $jewerly-border-color;
        border-left: 1px solid $jewerly-border-color;
        cursor: pointer;
    }
}

.user-name {
    margin: 5px;
    padding-left: 3px;
    color: white;
    font-family: 'Inter', sans-serif;
}