@import '../../gameConst.scss';
@import '../../../../const.scss';
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


@keyframes showShade {
    100% {
        opacity: 0.7;
    }
}

@keyframes hideShade {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

.shade-block {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;

    background-color: black;
    opacity: 0;
    animation: showShade 0.5s;
    animation-fill-mode: forwards;

    &.disappearing {
        animation: hideShade 0.5s;
    }
}

.confirm-logout-window {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 400px;
    height: 150px;
    border: 0;
}

.back-confirm-window {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 5px;
    width: 390px;
    height: 80%;
    border-bottom: 1px solid $icon-border-color;
    border-top: 1px solid $icon-border-color;
    background-color: #63190863;
}

.text-confirm-window {
    position: relative;
    top: 20px;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;;
}

.confirm-button-box {
    position: relative;
    width: 100%;
}

.agree-button, .disagree-button{
    position: absolute;
    width: 75px;
    height: 25px;
    padding: 0;
    border: 0;
    outline: none;
    user-select: none;
    background-color: transparent;
}

.disagree-button{
    top: 90px;
    right: 60px;
}

.agree-button{
    top: 90px;
    left: 60px;
}

.beauty-confirm-button {
    position: absolute;
    top: 0;
    left: 0;

    width: 77px;
    height: 27px;
    fill: none;

    cursor: pointer;

    .beauty-confirm-button-background {
        width: 73px;
        height: 23px;

        fill: $icon-background-color;
        stroke: $icon-border-color;
        stroke-width: 2px;
    }

    .beauty-confirm-button-border {
        width: 71px;
        height: 21px;

        stroke: $jewerly-border-color;
        stroke-width: 2px;
    }

    .confirm-icon {
        &.shield {
            stroke: $icon-inside-color;
        }
        &.cross {
            width: 1px;
            height: 15px;
            fill: $icon-inside-color;
        }
    }

    .angle-frame-back {
        fill: $icon-border-color;
    }

    .angle-frame-jewel-back {
        fill: $jewerly-background-color;
        stroke: $jewerly-border-color;
        stroke-width: 0.5px;
    }

    .angle-frame-jewel {
        fill: white;
        stroke: $jewerly-color;
        stroke-width: 0.5px;
    }

    .active-confirm-icon-elem {
        opacity: 0;

        &.shield {
            fill: $icon-inside-color
        }
        &.handler {
            fill: $icon-inside-color
        }
        &.blade {
            stroke: $icon-inside-color;
            stroke-width: 0.5px;
        }
    }

    &:hover {
        .beauty-confirm-button-background {
            fill: url(#background-button-gradient);
            stroke: $button-back-color;
        }
        .beauty-confirm-button-border {
            stroke: $button-border-color;
        }
        .confirm-icon {
            &.shield {
                stroke: $icon-inside-color;
            }
            &.cross {
                opacity: 0;
            }
        }
        .angle-frame-back {
            fill: $button-back-color;
        }
        .angle-frame-jewel-back {
            fill: $jewerly-background-active-color;
            stroke: $button-border-color;
        }
        .angle-frame-jewel {
            fill: white;
            stroke: $jewerly-active-color;
        }
        .active-confirm-icon-elem {
            opacity: 1;
        }
    }
    &:active {
        .active-confirm-icon-elem {
            &.shield {
                fill: red
            }
            &.handler {
                fill: red
            }
            &.blade {
                stroke: red;
            }
        }
        .confirm-icon {
            &.shield {
                stroke: red;
            }
        }
    }
}

.beauty-confirm-button-background,
.beauty-confirm-button-border,
.angle-frame-back,
.angle-frame-jewel-back,
.angle-frame-jewel,
.beauty-confirm-button:hover {
    transition: 0.2s;
}