$inform-border: url('../../../../../assets/UI/villageUI/villageInfo.png');

.village-inform-panel {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    height: 100px;

    background-image: $inform-border;
    & > progress[value]::-webkit-progress-bar {
        background-color: rgb(43, 33, 19);
    }
    & > progress[value]::-webkit-progress-value {
        background-color: rgb(113, 190, 12);
    }
}

.village-population {
    position: absolute;
    color: white;
    top: 17px;
    left: 45px;
    font-size: 16px;
}

.village-hp-bar {
    position: absolute;
    width: 492px;
    height: 11px;
    background-color: red;
    bottom: 4px;
    left: 4px;
}
