$withdraw-panel: url('../../../../../assets/UI/CastleUI/unitsWithdrawPanel.png');

.choose-units-ui {
    position: absolute;
    box-sizing: border-box;
    top: -150%;
    left: 7%;
    width: 800px;
    height: 400px;

    background-image: $withdraw-panel;
    background-position: center;

    &.units-interface-hide {
        opacity: 0;
        transform: translateY(1200px);
        transition: 1s;
    }

    &.units-interface-show {
        opacity: 1;
        transition: 1s;
    }
}

.close-units-ui{
    position: absolute;
    right: 0px;
    width: 20px;
    height: 20px;
}

.withdraw-army-button {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 30px;
}