@import '../../const.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

$helmet-logo: url(../../assets/logo/logo-helmet.png);
$helmet-logo-effects: url(../../assets/logo/logo-helmet2.3.png);

.newcomer-window {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -65%);
    width: $auth-window-width;
    height: 450px;

    & > .logo-above {
        position: absolute;
        background: $helmet-logo;
        width: 150px;
        height: 150px;
        margin: 0 24% 10px 25%;
        user-select: none;
    }
    & > .effect-hide {
        opacity: 0;
    }
    & > .effect-shows {
        opacity: 1;
        transition: background 1s cubic-bezier(1, 0, .44, .80);
        background-image: $helmet-logo-effects;
    }
}

.registration-button {
    position: relative;
    margin-top: 30px;
    width: $auth-window-width;
    height: 30px;

    background-color: transparent;

    border: 1px solid $login-important-text;

    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: $login-important-text;

    cursor: pointer;
    outline: none;
    user-select: none;

    transition: all 500ms cubic-bezier(0.75, 0, 0.175, 1);

    &::after, &::before {
        content: '';
        top: 0;
        width: 0;
        height: 100%;
        position: absolute;	
        transition: inherit;
        z-index: -1;
    }
    &:after {
        left: 0;
    }
    &:before {
        right: 0;
    }
    &:hover {
        color: $login-background;
        border: none;
    }
    &:hover:after, &:hover:before {
        background-color: white;
        width: 100%;
    }
    &:hover:after {
        right: 0;
    }

    &:active {
        animation: pulse 0.5s;
        box-shadow: 0 0 0 5px transparent;
    }
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 $registration-start-grad; }
}

.sign-in-button {
    position: relative;
    margin-top: 30px;
    width: fit-content;
    height: 20px;

    background-color: transparent;

    border: none;
    border-bottom: 1px solid $login-input;

    color: $login-input;

    transition: 0s;

    cursor: pointer;
    outline: none;
    user-select: none;

    &::after, &::before {
        content: '';
        top: 0;
        width: 0;
        height: 100%;
        position: absolute;	
        transition: inherit;
        z-index: -1;
    }

    &::after {
        left: 0;
        border-bottom: 1px solid $registration-end-grad;
    }
    &::before {
        right: 0;
	    border-bottom: 1px solid $registration-end-grad;
    }
    &:hover {
        border: none;
        color: $registration-end-grad;
    }
    &:active {
        border-bottom: 0.5px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    &:hover::after {
        right: 0;
        border: none;
        border-bottom: 1px solid $registration-end-grad;
        transition-delay: 0s;
    }
    &:hover:before {
        transition-delay: 0s;
    }
    &:hover:before, &:hover::after {
        width: 100%;
    }
    &:hover:before, &:hover::after, &:hover {
        transition: 200ms cubic-bezier(0.75, 0, 0.175, 1);
    }
    &:active {
        &:after, &:before {
            border-color: $registration-start-grad;
        }
        border: none;
        color: $registration-start-grad;
    }
}