@import '../../../../../gameConst.scss';

.castle-upgrade-button-svg {
    width: 140px;
    height: 25px;
    fill: none;

    & > .castle-upgrade-button-frame{
        fill: #460000;
        stroke: #B96F00;
        stroke-width: 2px;
    }

    &:hover {
        & > .castle-upgrade-button-frame{
            fill: #2c0000;
            stroke: #d88e1f;
        }
    }

    &:active {
        & > .castle-upgrade-button-frame{
            fill: #3d000077;
            stroke: #ffa722;
        }
    }
}