@import '../../../../../gameConst.scss';

.move-active,
.move-inactive {
    width: 154px;
    height: 21px;
    fill: none;
}

.move-active {
    & > .move-button-icon {
        fill: $much-brighter-stone;
    }
    & > .move-button-background {
        fill: $move-button-color-triggered;
        stroke: $much-brighter-stone;
    }
}

.move-inactive {
    & > .move-button-icon {
        fill: $brighter-stone;
    }
    & > .move-button-background {
        fill: $wooden-background;
        stroke: $brighter-stone;
    }
    &:hover {
        & > .move-button-icon {
            fill: $much-brighter-stone;
        }
        & > .move-button-background {
            fill: $move-button-color;
            stroke: $much-brighter-stone;
        }
    }
}