.send-message-input-beauty-version-left {
    z-index: 1;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    left: 0;
    fill: none;
}
.send-message-input-beauty-version-right {
    z-index: 1;
    position: fixed;
    background-color: transparent;
    bottom: 0;
    left: 398px;
    fill: none;
}

.send-message-input-beauty-version-top {
    position: fixed;
    background-color: transparent;
    bottom: 21px;
    left: 0;
    fill: none;
}

.send-message-input-beauty-version-down {
    position: fixed;
    background-color: transparent;
    bottom: 0px;
    left: 0;
    fill: none;
}