@import '../gameConst.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.chat-box {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 450px;
    height: 300px;
    border: 0;

    &.hide-chat-box {
        height: 30px;
    }
    &.show-chat-box {
        height: 300px;
    }

    z-index: 2;
}

.message-block {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;

    background: linear-gradient(to top, #aa05298c, transparent 15% , transparent);

    &.showChat {
        opacity: 1;
        transition: 0.3s;
    }
    &.hideChat {
        opacity: 0;
        transition: 0.3s;
    }

    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $icon-border-color;
    }
    user-select: none;
    outline: none;
}

.send-message-block {
    width: 100%;
    border: 0;
    display: flex;
}

.send-message-button {
    position: relative;
    min-width: 46px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.message-input {
    box-sizing: border-box;
    width: 100%;
    height: 23px;

    border: 0;
    border-top: 2px solid $icon-border-color;
    border-bottom: 2px solid $icon-border-color;
    color: white;
    background-color: $icon-background-color;
    padding: 0 0 2px 7px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

    outline: none;

    &:focus {
        background-color: $icon-background-darker-color-active;
    }
    &.show-input-failure {
        color: rgb(247, 90, 90);
    }
}

.personal-message-line, .message-line {
    background-color: #361b1b77;
    border-left: 1px solid $icon-border-color;
    padding: 4px 0;
    user-select: none;
    max-width: 100%;
}

.personal-message-line {
    .message-sender, .message {
        color: rgb(230, 129, 230);
    }
}

.message-line {
    .message-sender, .message {
        color: white;
    }
}

.message-sender, .message {
    padding: 0 0 0 7px ;
    user-select: none;
}

.message {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
}
