$shield-logo: url(../../../assets/logo/logo-shield.png);
$shield-logo-blood: url(../../../assets/logo/logo-shield-blood.png) ;

.logo {
    position: absolute;
    width: 75px;
    height: 75px;
    background: $shield-logo;
    background-size: contain;
    &.top-left, &.top-right {
        top: 15px;
    }
    &.top-right, &.bottom-right {
        right: 15px;
    }
    &.bottom-right, &.bottom-left {
        bottom: 15px;
    }
    &.bottom-left, &.top-left {
        left: 15px;
    }
    &.effect-hide {
        opacity: 0;
    }
    &.effect-shows {
        z-index: 1;
        opacity: 1;
        transition: background 1s cubic-bezier(.10, .10, .06, .93);
        background-image: $shield-logo-blood;
    }
}