.money-rent-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 70px;
    right: 0;
    width: 80px;
    height: 25px;

    font-size: 11px;

    z-index: 2;
}
