.stop-active,
.stop-inactive {
    width: 200px;
    height: 20px;
    fill: none;
}

.stop-inactive {
    &:hover {
        .stop-back-button {
            fill: rgb(146, 87, 19);
        }
    }
}

.stop-active {
    .stop-back-button {
        fill: rgb(134, 73, 3);
    }
}