.manage-unit-buttons {

}

.attack-unit-button,
.move-unit-button,
.stop-unit-button {
    
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    width: 200px;
    height: 20px;
}