$unit-ui-manage-buttons-background: url('../../../../../../assets/UI/units/unitUIManageButtonBackground.png');

.manage-unit-buttons {
    position: absolute;
    width: 700px;
    height: 25px;
    background-image: $unit-ui-manage-buttons-background;
}

.attack-unit-button {
    position: absolute;
    bottom: 1px;
    left: 90px;
}

.move-unit-button {
    position: absolute;
    bottom: 1px;
    left: 303px;
}

.stop-unit-button {
    position: absolute;
    bottom: 1px;
    left: 516px;
}

.attack-unit-button,
.move-unit-button,
.stop-unit-button {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 155px;
    height: 21px;

    outline: none;
}