$soldier-mini: url('../../../../../../../../assets/UI/CastleUI/SoldierMini.png');
$damaged-soldier-mini: url('../../../../../../../../assets/UI/CastleUI/damagedSoldierMini.png');

.units-selector {
    width: 100%;
    height: 60px;
    padding-top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.units-selector-input-range {
    width: 400px;
}

.units-selector-input {
    width: 100px;
    height: 40px;
    font-size: 20px;
}

.full-soldier-selector-image {
    width: 25px;
    height: 40px;
    background-image: $soldier-mini;
    background-position: center;
    background-size: contain;
}

.damaged-soldier-selector-image {
    width: 25px;
    height: 40px;
    background-image: $damaged-soldier-mini;
    background-position: center;
    background-size: contain;
}