$inform-border: url('../../../../../assets/UI/CastleUI/InformFrame.png');
$inform-back: url('../../../../../assets/UI/CastleUI/FrameBackground.png');
$soldier-frame: url('../../../../../assets/UI/CastleUI/soldier-frame.png');


.castle-inform-panel {
    box-sizing: border-box;
    width: 500px;
    height: 200px;
}

.castle-inform-panel-border {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-image: $inform-border ;
    background-position: center;
    background-size: contain;
}

.castle-inform-panel-back {
    position: relative;
    box-sizing: border-box;
    width: 460px;
    height: 170px;
    top: 14px;
    left: 35px;

    background: $inform-back, linear-gradient(to top, rgba(202, 14, 55, 0.377), transparent 20%);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #300610e1;
    z-index: -2;
}

.units-frame {
    position: absolute;
    box-sizing: border-box;

    top: 42px;
    right: 302px;

    width: 140px;
    height: 100px;

    z-index: 1;
}

.solider-frame {
    right: 0px;
    background-image: $soldier-frame;
    background-position: center;
    background-size: contain;
}
.archer-frame {
    right: 42px;
}

.solider-frame, .archer-frame {
    position: absolute;
    height: 100%;
    width: 42px;

    color: white;
}

.soldier-number, .archer-number {
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 16px;
    font-size: 12px;
    color: white;
    z-index: 2;
}

.soldier-number {
    right: 0px;
}